<h1>Show posts by user</h1>
<section>
  <div>
    <img src="https://via.placeholder.com/200" alt="Image placeholder">
    <div>
      <h2>User name</h2>
      <p>Number of posts: x</p>
    </div>
  </div>
  <section>
    <h3>Post #x</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, adipisci! Saepe veritatis accusamus consequatur possimus voluptate tenetur nobis illum fuga! Sit nostrum dolor necessitatibus odio veniam laborum, quidem voluptatibus sapiente?</p>
    <ul>
      <li>Username: Comment 1</li>
    </ul>
  </section>
  <button>pagination</button>
</section>
